#Turns on URL Rewrite
RewriteEngine on

#Checks for existing files -f and directories -d and disables rewrite
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-d


#Rewrite Rule - Will not append info to index.php. Upadated for use with GoDaddy as well. 
RewriteRule ^(.[a-zA-Z0-9\/-]*)$ index.php/$1 [PT,QSA,L]

#Rewrite Rule - DEPRICATED - Will append info to index.php. 
#RewriteRule ^(.*)$ index.php/$1 [PT,QSA,L]

#Rewrite Rule - ERROR - Will cause faults with GET variables passed to methods
#RewriteRule ^(.*)$ index.php [PT,QSA,L]

#Use PATH_INFO or REQUEST_URI 